<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gamingsquare.vtune.com.gamingsquare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroScr"
            android:theme="@style/Theme.Intro" />
        <activity android:name=".GamingSquareIntro.GamingSquareIntro" />
        <activity
            android:name=".GamingSquareHome.GamingSquareHome"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="gamingsquare.com"
                    android:scheme="gameinfo" />
                <!--
             <data android:scheme="myscheme" android:host="example.com"/>
             myscheme://example.com/?faqid=95
                -->
            </intent-filter>
        </activity>
        <activity android:name=".GamingSquareGameInfo.GamingSquareGameInfo" />
        <activity android:name=".HomeFragmentGamesSearch.GamingSquareGamesSearch" />
        <activity android:name=".GamingSquareGameInfo.GamingSquareGameInfoFragments.GamingSquareGameDLCInfoActivity" />
    </application>

</manifest>